.pure-button {
  width: 30px;
  height: 30px;
  margin-top: 1px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  font-size: 20px;
  line-height: 30px; }
  .pure-button:hover {
    text-decoration: none; }

.pure-anchors {
  display: none; }
  @media (min-width: 1024px) {
    .pure-anchors {
      display: block;
      position: absolute;
      z-index: 6666;
      top: 20px;
      left: 0;
      width: 180px;
      opacity: 0;
      transform: translateY(-100%);
      transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out; } }

.pure-anchor {
  cursor: pointer;
  padding: 12px 20px;
  font-weight: 700;
  font-size: 16px;
  color: #343434;
  opacity: 0.5; }
  .pure-anchor:hover, .pure-anchor.active {
    opacity: 1; }

.pure-mode .umb-app-header,
.pure-mode #navigation,
.pure-mode .umb-editor-header {
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out; }

.pure-mode #contentwrapper {
  transition: left 0.8s ease-in-out; }

.pure-mode .umb-app-content {
  transition: top 0.8s ease-in-out; }

.pure-mode .umb-group-panel__header,
.pure-mode .umb-editor-footer,
.pure-mode .umb-control-group {
  transition: padding 0.8s ease-in-out, margin 0.8s ease-in-out, opacity 0.8s ease-in-out; }

.pure-mode,
.pure-mode .umb-editor-wrapper {
  transition: background 0.8s ease-in-out; }

.pure-mode .umb-editor-container {
  transition: top 0.8s ease-in-out, background 0.8s ease-in-out; }

.pure-mode .umb-group-panel {
  transition: background 0.8s ease-in-out, box-shadow 0.8s ease-in-out, padding 0.8s ease-in-out; }
  .pure-mode .umb-group-panel:last-child {
    padding-bottom: 100px; }

.pure-mode .umb-editor-sub-header.-umb-sticky-bar {
  top: 0; }

.pure-mode--1 .umb-app-header {
  transform: translateY(-100%);
  opacity: 0; }

.pure-mode--1 .umb-editor-header {
  transform: translateX(100%);
  opacity: 0; }

.pure-mode--1 #navigation {
  transform: translateX(-100%);
  opacity: 0; }

.pure-mode--1 #contentwrapper {
  left: 0; }

.pure-mode--1,
.pure-mode--1 .umb-editor-container,
.pure-mode--1 .umb-editor-wrapper {
  background: #fff; }

.pure-mode--1 .umb-group-panel {
  box-shadow: none;
  background: #fff; }

.pure-mode--1 .umb-control-group,
.pure-mode--1 .umb-group-panel__header {
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 1024px) {
    .pure-mode--1 .umb-control-group,
    .pure-mode--1 .umb-group-panel__header {
      margin-left: 180px; } }
  @media (min-width: 1200px) {
    .pure-mode--1 .umb-control-group,
    .pure-mode--1 .umb-group-panel__header {
      margin-right: 180px; } }

.pure-mode--1 .umb-editor-container,
.pure-mode--1 .umb-app-content {
  top: 0; }

.pure-mode--1 .umb-editor-footer {
  opacity: 0.1; }
  .pure-mode--1 .umb-editor-footer:hover {
    opacity: 1; }
  @media (min-width: 1200px) {
    .pure-mode--1 .umb-editor-footer {
      padding-left: 200px;
      padding-right: 217px; } }

.pure-mode--1 .umb-editor--infiniteMode .umb-group-panel__header,
.pure-mode--1 .umb-editor--infiniteMode .umb-control-group {
  margin-left: 0;
  margin-right: 0; }
  .pure-mode--1 .umb-editor--infiniteMode .umb-group-panel__header::after,
  .pure-mode--1 .umb-editor--infiniteMode .umb-control-group::after {
    color: #fff; }

.pure-mode--1 .umb-editor--infiniteMode .umb-editor-footer {
  opacity: 1;
  padding: 10px 20px; }

.pure-mode--2 .pure-anchors {
  opacity: 1;
  transform: translateY(0); }

.pure-mode--2 .umb-editor-footer:hover {
  transition-duration: 0.4s; }
