$d: 1s;
$e: ease-in-out;
$w: 180px;

@mixin transition($transitions...) {
    $unfoldedTransitions: ();

    @each $transition in $transitions {
        $unfoldedTransitions: append($unfoldedTransitions, unfoldTransition($transition), comma);
    }

    transition: $unfoldedTransitions;
}

@function unfoldTransition ($transition) {
    $defaultProperties: (all, $d, $e, null);
    $unfoldedTransition: ();

    @for $i from 1 through length($defaultProperties) {
        $p: null;

        @if $i <= length($transition) {
            $p: nth($transition, $i)
        }
        @else {
            $p: nth($defaultProperties, $i)
        }

        $unfoldedTransition: append($unfoldedTransition, $p);
    }

    @return $unfoldedTransition;
}

.pure {
    &-anchors {
        position: absolute;
        z-index: 6666;
        top: 20px;
        left: 0;
        width: $w;
        opacity: 0;
        transform: translateY(-100%);
        @include transition(opacity, transform);
    }

    &-anchor {
        cursor: pointer;
        padding: 12px 20px;
        font-weight: 700;
        font-size: 16px;
        color: #343434;
        opacity: 0.5;

        &:hover, &.active {
            opacity: 1;
        }
    }

    &-mode {
        .umb-app-header,
        #navigation,
        .umb-editor-header {
            @include transition(transform, opacity);
        }

        #contentwrapper {
            @include transition(left);
        }

        .umb-app-content {
            @include transition(top);
        }

        .umb-group-panel__header,
        .umb-editor-footer,
        .umb-control-group {
            @include transition(padding, margin);
        }

        &,
        .umb-editor-wrapper {
            @include transition(background);
        }

        .umb-editor-container {
            @include transition(top, background);
        }

        .umb-group-panel {
            @include transition(background, box-shadow);
        }

        .umb-editor-sub-header.-umb-sticky-bar {
            top: 0;
        }
    }

    &-mode--1 {
        .umb-app-header {
            transform: translateY(-100%);
            opacity: 0;
        }

        .umb-editor-header {
            transform: translateX(100%);
            opacity: 0;
        }

        #navigation {
            transform: translateX(-100%);
            opacity: 0;
        }

        #contentwrapper {
            left: 0;
        }

        &,
        .umb-editor-container,
        .umb-editor-wrapper {
            background: #fff;
        }

        .umb-group-panel {
            box-shadow: none;
            background: #fff;
        }

        .umb-control-group,
        .umb-group-panel__header {
            margin-left: $w;
            margin-right: $w;

            @media (min-width:768px) {
                margin-right: 0;
            }

            @media (min-width:1200px) {
                margin-right: $w;
            }
        }

        .umb-editor-container,
        .umb-app-content {
            top: 0;
        }

        .umb-editor-footer {
            padding-left: 200px;
            padding-right: 217px;
        }
    }

    &-mode--2 {
        .pure-anchors {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
